
*{
    padding: 0;
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header{
    padding: 0 4% 0 4%;
    position: sticky;
}
body{
    background-color: bisque !important;
}
.navbar .navbar-brand span{
    font-size: 28px;
}
.navbar .navbar-brand i{
    font-size: 45px;
    margin-right: 5px;
}
.nav-item .nav-link{
    color: #696969;
    letter-spacing: 1px;
    transition: 0.5s;
    font-size: 20px;
}

.navbar-nav:hover .nav-item,#Footer:hover .nav-item{
    filter: blur(1px);
}
.navbar-nav .nav-item:hover,#Footer .nav-item:hover{
    filter: blur(0);
    letter-spacing: 1px;
    background: linear-gradient(20deg, rgb(240, 50, 50) 35%, rgb(0, 0, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Overlay{
    margin-top: 50px;
    padding: 0 3% 0 3%;
    margin-bottom: 50px;
}
#Overlay #Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
#Overlay #Img{
    display: flex;
    align-items: center;
    justify-content: right;
}
#Overlay #Img img{
    overflow: hidden;
    width: 500px;
}

#Historia{
    margin-bottom: 80px;
}
#Historia #Text{
    text-align: justify;
}
#Historia #Img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Conten1,#Conten2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Conten1{
    margin-bottom: 5%;
}
#Conten2{
    margin-bottom: 80px;
}
#Conten2 h5{
    padding-top: 25px;
    padding-bottom: 8px;
}

#Conten3{
    margin-bottom: 80px;
}
#Conten3 #Text{
    text-align: justify;
}
#Conten3 #Img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Contactos{
    margin-bottom: 80px;
}
#Contactos #Text{
    text-align: center;
}
#Contactos #Form{
    padding-left: 45px;
    padding-right: 45px;
}
#Contactos #Form .form-floating #Nombre{
    margin-bottom: 6%;
}
#Contactos #Boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: #a72b2b !important;
    border-color: black !important;
}

footer{
    margin: 0 4% 0 4%;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h3{
    padding-top: 1.5%;
}

